<div class="container-fluid">
  <div class="top-half">
    <div class="item-id">
      <ul class="nav nav-pills">
        <li>
          <a href="#" class="badge badgenumber">{{ itemElement.id }}</a>
        </li>
      </ul>
    </div>
    <div class="item-image">
      <a href="#">
        <img [src]="itemElement.image" class="img-responsive" alt="{{ itemElement.name }}" />
      </a>
    </div>
  </div>
  <div class="bottom-half">
    <div class="item-name">
      <p class="item-title">
        <a href="#" class="bold">
          {{ itemElement.name }}
        </a>
      </p>
    </div>
      <div class="row">
        <div class="col-sm-2">
          <button class="btn btn-success" role="button" (click)="onBuyClick()">BUY</button>
        </div>
        <div class="col-sm-2 text-right">
          <p> £{{ itemElement.price }} </p>
        </div>
      </div>
  </div>
</div>
