
.top-half .nav>li>a {
    border-radius: 0;
    position: absolute;
}

.badgenumber {
    font-size: 15px;
    background-color: #ff9702;
}

.badgenumber:hover {
    background-color: #ff9702;
}

.img {
    max-height: 300px;
    max-width: 200px;
}

.bottom-half .item-name .item-title {
    color: #1aa1dc;
}

.bottom-half p.item-title {
    font-size: 18px;
}

.bottom-half a {
    color: #1aa1dc;
    
}

.bottom-half a:hover {
    color: #ff9702;
    text-decoration: none;
}

.bold {
    font-weight: bold;
    font-family: 'HelveticaNeueBold',Helvetica,Arial,sans-serif;
}

.bottom-half .item-buy {
    display: inline-flex;
}

.bottom-half .item-buy p{
    color: #ff9702;
    font-size: 24px;
}