<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-item 
        *ngFor="let item of items" 
        [itemElement]="item"
        (onBuyClicked)="onBuyEventReceived(item)">
    </app-item>
    </div>
  </div>
</div>
